*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
release.properties
*.jks
*.keystore
*.p12
*.p8
*.mobileprovision
.env
.env.*
!.env.example
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
